@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  margin: 0;
  padding: 0;
  color: rgb(var(--foreground-rgb));
  font-family: 'Trebuchet MS', Arial, sans-serif;
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}

/* APP */
.app-container {
  background-color: rgb(145, 156, 143);
}

/* Navbar */

nav.nav-container {
background-color: whitesmoke;
min-height: 100vh;
width: 200px;
display: flex;
flex-direction: column;
align-items: center;
}

nav.nav-container .nav-item-container {
  padding: 300px;
}

/* HomePage */
